@media screen and (max-width: 768px) {
    #content {
        padding: 10px;
        margin: 10px !important;
        align-items: center;
        justify-content: center;
        align-self: end;
    }

    #nav {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        padding: 0;
        width: 100% !important;
        margin: 0;
        margin-bottom: 10px;
        height: fit-content !important;
        background-image: linear-gradient(to bottom, #d4d4d4, #d4d4d4, #b4b4b4) !important;
    }

    #nav li {
        float: none !important;
        display: block;
    }

    .flag{
        margin: 4px !important;}

    
    .instructions{
        width: auto;
        padding: 0 !important;
    }

    #landing_page {
        display: flex;
        flex-direction: column;}

    form #client-login{
        margin: 20px 40px 0; 
        max-width: 100% ;
    }

    table.padded{
        max-width: 100cqw !important;
    }
}

@media (max-width: 500px) {
    .pull-right.flush-right {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: fit-content;
        margin: 0 10px 5px 0;
        padding: 10px;
        font-size: 12px;
        float: none !important;
    }

}